@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --pink-color: #FDF0EE;
  --pink-color02: #F2DAD5;
  --text-color: #104F59;
  --primary-color: #CCAA6B;
  
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 760px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
}

/* ---------- base ---------- */

@font-face {
	font-family: 'MyYuGothicM';
	font-weight: normal;
	src: local('YuGothic-Medium'), /* PostScript Name = localの正式な指定方法 */
	local('Yu Gothic Medium'),     /* PostScript Nameを認識できないChrome用にFull Nameを指定 */
	local('YuGothic-Regular');     /* 游ゴシックMediumが存在しないWindows8.1用 */
}
@font-face {
	font-family: 'MyYuGothicM';
	font-weight: bold;
	src: local('YuGothic-Bold'), /* PostScript Name = localの正式な指定方法 */
	local('Yu Gothic');          /* PostScript Nameを認識できないChrome用にFull Nameを指定 */
}


body {
    font-family :
	  MyYuGothicM, /* Windows調整用 */
	  YuGothic,    /* Mac用 */
	sans-serif;
    color: var(--black-color);
    font-size: 16px;
    line-height: 2;

}



/* ---------- utility ---------- */
.u_ttl {
  color: var(--primary-color);
}


/* ---------- layout ---------- */

.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}

.l_header{
    width: 100%;
    height: 70px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.l_header-nav {
    pointer-events: none;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--pink-color);
    z-index: var(--z-index-header);
    transition: 0.5s;
  }

  @media screen and (min-width: 1028px) {
      .l_header-nav {
        opacity: 1;
        background: transparent;
      }
  }

  .l_header-nav_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1028px) {
  .l_header-nav_list {
    position: fixed;
    top: 3%;
    right: 0;
    display: flex;
    transform: translate(40%,0);
    gap:32px;
    padding: 0 16px;
    pointer-events: auto;
  }
  }

  .l_header-nav_item {
    font-weight: bold;
    color: var(--text-color);
    font-size: 24px;
    text-align: center;
  }

  @media screen and (min-width: 1028px) {
    .l_header-nav_item {
      font-size: 12px;
    }
  }

  .l_header-nav_item:not(:first-child) {
    margin-top: 56px;
  }

@media screen and (min-width: 1028px) {
    .l_header-nav_item:not(:first-child) {
      margin-top: 0;
    }
}

/* scroll header */


@media screen and (min-width: 1028px) {
  #fixed-header {
    position: fixed;
    opacity: 1;
    top: -70px;  
    width: 100%;
    height: 60px;
    line-height: 70px;
    background: #fff;
    box-sizing: border-box;
    transition: .5s; /* アニメーションタイミング */
    z-index: var(--z-index-header);
  }
  
  #fixed-header.is-show {
    top: 0;
  }
  
}

.header-nav {
  display: none;
}

@media screen and (min-width: 1028px) {
  .header-nav {
    display: contents;
  }
}



@media screen and (min-width: 1028px) {
  .header-nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    gap: 32px;
    color: var(--text-color);
    transform: translate(30%,-8%);
    padding: 0 16px;
  }
}




.l_footer {
  background: var(--pink-color);
}

.l_footer_list {
  padding: 60px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .l_footer_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 25px 0;
  }
}

.l_footer_item {
  font-weight: bold;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
.l_footer_item {
  padding-top: 15px;
  font-size: 12px;
}
}


.l_footer_item:not(:first-child){
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .l_footer_item:not(:first-child) {
    margin-top: 0;
  }
}

.l_footer_item:nth-child(5) {
  font-weight: normal;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .l_footer_item:nth-child(5) {
    font-size: 8px;
  }
}

.l_footer_img-wrapper {
  width: 120px;
  height: 60px;
  margin: 0 auto;
  transform: translate(0,-16px);
}

.l_footer_copy {
  background: #FFF799;
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  gap: 16px;
}

@media screen and (min-width: 768px) {
.l_footer_copy {
  font-size: 10px;
}
}

.l_footer_icon {
  width: 33px;
  height: 27px;
}

/* module */

.m_hamburger {
    width: 30px;
    height: 24px;
    position: relative;
    z-index: var(--z-index-menu);
  }

  @media screen and (min-width: 1028px) {
    .m_hamburger {
      opacity: 0 ;
      pointer-events: none;
    }
  }
  .m_hamburger-bar {
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    background: var(--text-color);
    left: 50%;
    transition: 0.3s;
  }
  .m_hamburger-bar:first-child {
    top: 0;
    transform: translate(-50%, 0);
  }
  .m_hamburger-bar:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .m_hamburger-bar:last-child {
    top: 100%;
    transform: translate(-50%, -100%);
  }


  /*矢印が右に移動する*/
.m_btnarrow4{
  /*矢印と下線の基点とするためrelativeを指定*/
  position: relative;
  /*形状*/
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  color: var(--primary-color);
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}

/*矢印と下線の形状*/
.m_btnarrow4::before{
  content: '';
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  bottom:-8px;
  left:35%;
  /*下線の形状*/    
  width: 30%;
  height: 2px;
  background:var(--primary-color);
  /*アニメーションの指定*/
}



@media screen and (min-width: 768px) {
  .m_btnarrow4::before {
    width: 15%;
    left: 42%;
  }
}

.m_btnarrow4::after{
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  bottom:-3px;
  right:35%;
  /*矢印の形状*/    
  width: 15px;
  height:2px;
  background:var(--primary-color);
  transform: rotate(35deg);
  /*アニメーションの指定*/
}




@media screen and (min-width: 768px) {
  .m_btnarrow4::after {
    right: 42.8%;
  }
}



.m_pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 15px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.m_pagetop__arrow {
  display: block;
  height: 10px;
  width: 10px;
  border-top: 3px solid var(--text-color);
  border-right: 3px solid var(--text-color);
  transform: translateY(20%) rotate(-45deg);
}

  /* swiper */

  .swiper {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  @keyframes zoomUp {
      0% {
        
        transform: scale(1);
      }
      100% {
          
        transform: scale(1.2);
      }
    }
  .swiper-slide-active .swiper-img,
  .swiper-slide-duplicate-active .swiper-img,
  .swiper-slide-prev .swiper-img{
      animation: zoomUp 13s linear 0s normal both;
  }
  .swiper-img {
      height: 100vh;
      width: 100%;
    }

    .swiper-slide {
      width: 100%;
      height: 100%;

    }

/* 画像にフィルターをかける */

  .swiper-img::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(242,218,213,0.87);
      }

/*top-main*/

.top_kv-inner{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  z-index: var(--z-index-default);
}


.top_kv-ttl{
  color: var(--text-color);
  font-family:"vdl-penletter", sans-serif;
  font-size: 42px;
  position: relative;
}

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
  /*描画位置※位置は適宜調整してください*/
position: absolute;
bottom:1%;
right:50%;
  /*矢印の動き1秒かけて永遠にループ*/
animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
   100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
left:-20px;
bottom:-135px;
  /*テキストの形状*/
color: var(--primary-color);
font-size: 16px;
letter-spacing: 0.05em;
font-weight: bold;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: -145px;
  left: 15px;
  /*矢印の形状*/
  width: 2px;
  height: 20px;
  background: var(--primary-color);
  transform: skewX(-31deg);
}

.scrolldown4:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:-145px;
left: 9px;
  /*矢印の形状*/
width:1px;
height: 70px;
background:var(--primary-color);
}

.catchcopy {
  background: var(--pink-color);
  color: var(--text-color);
  text-align: center;
  padding: 80px 0;
  letter-spacing: 0.1em;
}

.catchcopy-ttl {
  font-weight: bold;
}

.catchcopy-ttl:not(:first-child) {
  margin-top: 24px;
}

/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}

.timing02 {transition-delay: .4s;}
.timing03 {transition-delay: .6s;}



/* top-about */
#top-about {
  background: var(--pink-color);
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
    .top_about-sm {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding: 0 16px;
    }
}


.top_ttl-box {
  color: var(--text-color);
  text-align: center;
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

.rect {
  width: 30px;
  height: 30px;
  border: 1px solid #034E5A;
  position: absolute;
  top: 0;
  left: 29%;
}

.rect-price {
    width: 30px;
  height: 30px;
  border: 1px solid #034E5A;
  position: absolute;
  top: 0;
  left: 34%;
}

.top-ttl {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.top-sub_ttl{
  font-size: 14px;
}

.top_img-wrapper {
  margin-top: 16px;
  position: relative;
  
}

@media screen and (min-width: 768px) {
  .top_img-wrapper {
    margin-top: 0;
    max-width: 300px;
  }
}



.top_img-txt-box {
  color: var(--text-color);
  position: absolute;
  right: 6%;
  bottom: 3%;
}
.top_img-txt {
  font-weight: bold;
  padding: 0 8px;
}
.top_img-txt-sub {
  font-size: 14px;
}

.top_about_txt-box {
  padding: 24px 0;
}

.top_about-txt {
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
.top_about-txt {
  font-size: 12px;
}
}

@media screen and (max-width: 768px) {
  .top_about-txt br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
.top_about-txt:nth-child(2) br {
  display: none;
}
}

.top_about-txt:not(:first-child){
  margin-top: 16px;
}

.top_about-txt:nth-child(3) {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .top_about-txt:nth-child(3){
    font-size: 14px;
    white-space: nowrap;
  }
}

#top-service {
  background: var(--pink-color02);
  padding: 80px 0;
}


.service_img-wrapper {
  width: 300px;
  height: 207px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .service_img-wrapper {
    max-width: 230px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .top_service_sm {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
  }
}

.service-contents {
  padding: 32px 0;
}






.service_txts {
  color: var(--text-color);
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
.service_txts {
  margin-top: 32px;
  max-width: 345px;
}
}

.service_ttl {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
.service_ttl {
  font-size: 20px;
}
}

@media screen and (min-width: 768px) {
.service_ttl {
  white-space: nowrap;
}
}

.service_ttl::before {
  content: "";
  width: 30px;
  height: 2px;
  background: var(--text-color);
  transform: translate(-5px,-5px);
  display: inline-block;
}

.service_ttl::after {
  content: "";
  width: 30px;
  height: 2px;
  background: var(--text-color);
  transform: translate(5px,-5px);
  display: inline-block;
}

.service_txt {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
.service_txt {
  font-size: 14px;
}
}

/* works */

.top-works {
  background: var(--pink-color);
  padding: 56px 0;
}

@media screen and (min-width: 768px) {
    .top_works-sm {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
}

.top_works-contents {
  padding: 32px 0;
}

@media screen and (min-width: 768px) {
  .works_img-wrapper {
    max-width: 250px;
  }
}

.works_img-item {
  box-shadow: 8px 8px 0px rgb(62 62 62 / 10%);
}

.works-txt {
  font-weight: bold;
  color: var(--text-color);
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .works-txt {
    font-size: 12px;
  }
}

/* price */
#top-price {
  background-color: var(--pink-color);
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .top_price-ttl-sm {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.price-table {
  background-color: var(--pink-color02);
  padding: 60px 0;
  border-radius: 27px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .price-table {
    width: 245px;
  }
}

@media screen and (min-width: 1080px) {
  .price-table {
    width: 300px;
  }
}
@media screen and (min-width: 1340px) {
  .price-table {
    width: 400px;
  }
}

.price-table-02 {
  background-color: #FFF799;
  padding: 60px 0;
  border-radius: 27px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px; 
}
@media screen and (min-width: 768px) {
  .price-table-02 {
    width: 240px;
  }
}
@media screen and (min-width: 1080px) {
  .price-table-02 {
    width: 300px;
  }
}
@media screen and (min-width: 1340px) {
  .price-table-02 {
    width: 400px;
  }
}

.top_price-ttl {
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  position: relative;
}

.top_price-ttl::before {
  content: "";
  position: absolute;
  bottom: 6%;
  left: 38%;
  width: 70px;
  height: 1px;
  background-color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .top_price-ttl::before {
    left: 35%;
  }
}
@media screen and (min-width: 1340px) {
  .top_price-ttl::before {
    left: 30%;
  }
}

.top-price-table {
  margin: 0 auto;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 16px;
}

.top_price-td {
  padding-left: 8px;
}

@media screen and (min-width: 768px) {
  .top_price-th {
    padding-left: 6px;
  }
}

.top_price-th img {
  width: 27px;
  height: 27px;
}

.top_price-price {
  font-weight: bold;
  font-size: 32px;
  color: var(--text-color);
  text-align: center;
  letter-spacing: 0.2em;
  margin-top: 24px;
}

.top_price_table-txt {
  margin: 0 auto;
  width: 95%;
  table-layout: fixed;
  font-weight: bold;
  color: var(--text-color);
  font-size: 12px;
}

.top_price_tr-txt {
  background-color: #f5f5f5;
}

.top_price_tr-txt-02 {
  background-color: #fff;
}

.top_price_th-txt {
  font-weight: bold;
  color: var(--text-color);
  padding: 16px 24px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
.top_price_th-txt {
  padding: 16px 10px;
}
}

.top_price_td-txt {
  padding: 16px 0px;
  text-align: center;
}

.price-br {
  white-space: nowrap;
  font-size: 10px;
}

.price-td {
  display: none;
}


@media screen and (min-width: 768px) {
  .price-td {
    display: inline-block;
  }
}


/* contact */

.top-contact {
  background: var(--pink-color02);
  padding: 56px 0;
}

.top-contact_txt {
  text-align: center;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 80px;
  line-height: 3;
}

@media screen and (min-width: 768px) {
    .top-contact_txt {
      font-size: 12px; 
  }
}

@media screen and (min-width: 768px) {
  .contact-br {
    display: none;
  }
}

  /* js */

  .js_body.is_active {
    overflow: hidden;
  }
  
  .js_navigation.is_active {
    opacity: 1;
    pointer-events: inherit;
    z-index: var(--z-index-menu);
  }
  
  .js_hamburger.is_active .m_hamburger-bar:first-child {
    top: 50%;
    transform: translate(-50%, 0) rotate(45deg);
  }
  
  .js_hamburger.is_active .m_hamburger-bar:nth-child(2) {
    opacity: 0;
  }
  
  .js_hamburger.is_active .m_hamburger-bar:last-child {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
  }
  
